:root {
    --Bright-orange: hsl(31, 77%, 52%); 
    --Dark-cyan: hsl(184, 100%, 22%); 
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white : hsla(0, 0%, 100%, 0.75); /*(paragraphs) */
    --Very-light-gray : hsl(0, 0%, 95%); /*(background, headings, buttons) */
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lexend Deca", serif;
    font-size: 15px;
    background-color: var(--Very-light-gray);
}

.container {
    margin: 20px auto; 
    display: grid;
    padding: 80px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
@media (max-width:767px){
    .container{
        padding:40px 20px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .container .card p {
        padding-bottom: 30px
    }
}
.container .card {
    padding: 50px;
    /* min-height: 700px; */
}
.container .card:first-child {
    background-color: var(--Bright-orange);
    border-radius: 10px 0 0 10px;
}
.container .card:nth-child(2) {
    background-color: var(--Dark-cyan);
}
.container .card:last-child {
    background-color: var(--Very-dark-cyan);
    border-radius: 0 10px 10px 0;
}
@media (max-width:1230px) {
    .container .card:first-child {
        border-radius: 10px 0 0 10px;
    }
    .container .card:nth-child(2) {
        border-radius: 0;
    }
    .container .card:last-child {
        border-radius: 0 10px 10px 0;
    }
    ;
}
@media (max-width:876px) {
    .container .card:first-child {
        border-radius: 10px 10px 0 0;
    }
    .container .card:nth-child(2) {
        border-radius: 0;
    }
    .container .card:last-child {
        border-radius: 0 0 10px 10px;
    }
}
.container .card .logo {
    padding-bottom: 50px;
}
.container .card h1 {
    color: var(--Very-light-gray);
    text-transform: uppercase;
    font-family: "Big Shoulders Display", serif;
    padding-bottom: 50px;
    font-size: 45px;
}  
.container .card p {
    color: var(--Transparent-white);
    font-size: 18px;
    padding-bottom: 80px;
    line-height: 1.9;
}
.container .card Button {
    padding: 15px 50px;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    font-family: "Lexend Deca", serif;
    transition: .3s;
    border: 2px solid var(--Very-light-gray);
}

.container .card:first-child Button {
    color: var(--Bright-orange);
}
.container .card:nth-child(2) Button {
    color: var(--Dark-cyan);
}
.container .card:last-child Button {
    color: var(--Very-dark-cyan);
}
.container .card Button:hover {
    color: var(--Very-light-gray);
    background-color: transparent;
    
} 